<div class="container">
<p id="notice"><%= notice %></p>

<h1>Appointments</h1>

<table>
  <thead>
    <tr>
      <th>Date time</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @appointments.each do |appointment| %>
      <tr>
        <td><%= appointment.date_time %></td>
        <td>Doctor Name: <%= appointment.doctor.fullname %></td>
        <td>patient Name: <%= appointment.patient.fullname %></td>
        <td><%= link_to 'Destroy', appointment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% if doctor_signed_in? %>
      <td><%= link_to 'Edit', edit_appointment_path(appointment) %></td>
      <%end%>
        </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Back', root_path %>
</div>

